<!doctype html>
<html>
<head>
  <title>Datastore and Firebase Auth Example</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Test Python Backend Developer</h1>

  <h3>Answer the questions, it is allowed to research or use any material. Any code question refers to the Python 3 language. </h3>
  <h4 align="left">PART 1.</h4>
  <p align="left">1. Mention a mechanism to integrate two or more Python applications. </p>
  <p align="left">It's possible to use modules and the import command to integrate two or more Python applications.</palign="left">
  <p align="left">2. What is a “stateless” service?  </p>
  <p align="left">A stateless service is a service that treats each request as an independent transaction unrelated to previous requests.</p>
  <h4 align="left">PART 2.</h4>
  <p align="left">1. Which design pattern allows any number of Python objects to communicate among them while ensuring low-coupling?</p>
  <p align="left">The design pattern that allows python objects to communicate while ensuring low-coupling is the “Mediator” design pattern, which is a type of Behavioral design pattern.</p>
  <p align="left">2. Consider this example: A module that compiles and prints a report. Imagine such a module can be changed for two reasons. First, the format of the report could change. Second, the content of the report could change. These two things change for very different causes; one substantive, and one cosmetic. It would be a bad design to couple two things that change for different reasons at different times. What is the design principle discussed in this example? </p>
  <p align="left">The design principle discussed above is the “Single esponsibility principle”.</p>
  <h4 align="left">PART 3.</h4>
  <p align="left">Develop a web API to receive and store JSON messages.</p>
</body>
</html>
